Analyze IoT sensor data with machine learning flow.txt
[{"id":"d709258c.a84888","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c10d17a9.4816d8","type":"ui_gauge","z":"d709258c.a84888","name":"","group":"3ec9c4e3.9cd98c","order":1,"width":"6","height":"6","gtype":"gage","title":"humidity","label":"Degree","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":100,"wires":[]},{"id":"40ece514.1a1d1c","type":"ui_gauge","z":"d709258c.a84888","name":"","group":"3ec9c4e3.9cd98c","order":3,"width":"6","height":"6","gtype":"gage","title":"wind","label":"units","format":"{{msg.payload.wind}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":160,"wires":[]},{"id":"d4b86caa.df057","type":"ui_gauge","z":"d709258c.a84888","name":"","group":"3ec9c4e3.9cd98c","order":4,"width":"6","height":"6","gtype":"gage","title":"temperature","label":"","format":"{{msg.payload.temp}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":60,"wires":[]},{"id":"a3213c6f.48de5","type":"ibmiot in","z":"d709258c.a84888","authentication":"apiKey","apiKey":"2dc7e9d4.06f286","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["d4b86caa.df057","c10d17a9.4816d8","40ece514.1a1d1c","201fa939.a6bc56","fb0166ce.f7d748"]]},{"id":"201fa939.a6bc56","type":"cloudant out","z":"d709258c.a84888","name":"","cloudant":"","database":"iotdata","service":"node-red-dbxco-2020--cloudant-1603542880931-20991","payonly":true,"operation":"insert","x":290,"y":40,"wires":[]},{"id":"348123e3.20d89c","type":"http request","z":"d709258c.a84888","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":440,"wires":[["d84bba2f.bee638","29d41216.13eaae"]]},{"id":"fb0166ce.f7d748","type":"function","z":"d709258c.a84888","name":"Pre-tocken","func":"global.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"wind\",msg.payload.wind)\nvar apikey=\"RQNI3rOEvuIirPVAaJLbIo8gh4drZC9tXCX6h3e4mbyL\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":340,"wires":[["348123e3.20d89c"]]},{"id":"d84bba2f.bee638","type":"function","z":"d709258c.a84888","name":"Pre-Prediction","func":"var temperature = global.get(\"temperature\")\nvar humidity = global.get(\"humidity\")\nvar wind = global.get(\"wind\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"temperature\", \"humidity\", \"wind\"]],\"values\": [[temperature,humidity,wind]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":400,"wires":[["f871aaaa.dc1848"]]},{"id":"29d41216.13eaae","type":"debug","z":"d709258c.a84888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":540,"wires":[]},{"id":"84cfaaeb.1c2478","type":"function","z":"d709258c.a84888","name":"","func":"var temperature = global.get ('temperature')\nvar humidity = global.get ('humidity')\nvar wind = global.get ('wind')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n Rainfall: {\n temperature: temperature,\n humidity: humidity,\n wind: wind,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":320,"wires":[["1173ed9e.1bebf2","41a0104f.e7c82"]]},{"id":"f871aaaa.dc1848","type":"http request","z":"d709258c.a84888","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/1038769f-9222-4355-b9a1-19b5c6d73bd9/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":460,"wires":[["84cfaaeb.1c2478","9e453dc6.57c28"]]},{"id":"9e453dc6.57c28","type":"debug","z":"d709258c.a84888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":540,"wires":[]},{"id":"41a0104f.e7c82","type":"debug","z":"d709258c.a84888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":400,"wires":[]},{"id":"1173ed9e.1bebf2","type":"ui_text","z":"d709258c.a84888","group":"3ec9c4e3.9cd98c","order":6,"width":"17","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":440,"wires":[]},{"id":"54e39c09.0bafc4","type":"inject","z":"d709258c.a84888","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60,"y":360,"wires":[["fb0166ce.f7d748"]]},{"id":"3ec9c4e3.9cd98c","type":"ui_group","z":"","name":"IoT Sensor ","tab":"92030ab1.7b3b18","order":3,"disp":true,"width":"17","collapse":false},{"id":"2dc7e9d4.06f286","type":"ibmiot","z":"","name":"data","keepalive":"60","serverName":"n3hxqh.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"92030ab1.7b3b18","type":"ui_tab","z":"","name":"Analysis","icon":"dashboard","disabled":false,"hidden":false}]